@using System.Linq
@using System.Security.Claims

@model GuildSettingsModel

<section id="dashboard">

<div class="row user-profile">
    <div class="three columns">
        <div>
            <div class="profile-image">
                <img src="@($"https://cdn.discordapp.com/avatars/{User.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value}/{User.FindFirst(c => c.Type == "urn:discord:avatar")?.Value}.png")" alt="Avatar">
            </div>
            <div class="profile-name">
                <p>@User.FindFirst(c => c.Type == ClaimTypes.Name)?.Value</p>
            </div>
        </div>
    </div>

    <div class="eight columns">
        <div>
            <div class="profile-image">
                <img src="@($"https://cdn.discordapp.com/icons/{Model.Guild.Id}/{Model.Guild.Icon}.png")">
            </div>
            <div class="profile-name">
                <p>@Model.Guild.Name</p>
            </div>
        </div>
    </div>
</div>

<hr>

@if(Model.Guild.HasBotMyst == false)
{
    <p>Botmyst isn't on the <strong>@Model.Guild.Name</strong> server. <a href="https://discordapp.com/oauth2/authorize?client_id=357196134298419200&scope=bot">You can add it here</a></p>
}
else
{
    <h6 class="sub-header">AVAILABLE MODULES</h6>

    <p>List of all the available modules and commands.</p>

    foreach (var module in Model.Modules)
    {
        <h6 class="sub-header">@module.Name</h6>

        foreach (var command in module.CommandDescriptions)
        {
            <div class="row bar module">
                <a class="twelve-columns" asp-controller="CommandSettings" asp-action="Index" asp-route-guildId="@Model.Guild.Id" asp-route-commandId="@command.Id">
                    <div class="module-name">
                        <p>@command.Name</p>
                    </div>
                    <div class="module-description">
                        <p>@command.Summary</p>
                    </div>
                    <div class="module-enabled">
                        <button class="button enabled">Enabled</button>
                    </div>
                </a>
            </div>
        }
    }
}

</section>
