@using System.Security.Claims
@using System.Linq

@model DiscordGuildModel

<section id="dashboard">

<div class="row user-profile">
    <div class="three columns">
        <div>
            <div class="profile-image">
                <img src="@($"https://cdn.discordapp.com/avatars/{User.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value}/{User.FindFirst(c => c.Type == "urn:discord:avatar")?.Value}.png")" alt="Avatar">
            </div>
            <div class="profile-name">
                <p>@User.FindFirst(c => c.Type == ClaimTypes.Name)?.Value</p>
            </div>
        </div>
    </div>

    <div class="eight columns">
        <div>
            <div class="profile-image">
                <img src="@($"https://cdn.discordapp.com/icons/{Model.Id}/{Model.Icon}.png")">
            </div>
            <div class="profile-name">
                <p>@Model.Name</p>
            </div>
        </div>
    </div>
</div>

<hr>

@if(Model.HasBotMyst == false)
{
    <p>Botmyst isn't on <strong>@Model.Name</strong> server</p>
}
else
{
    <h6 class="sub-header">AVAILABLE MODULES</h6>    

    <div class="row bar module">
        <a href="" class="twelve-columns">
            <div class="module-name">
                <p>Dictionary</p>
            </div>
            <div class="module-description">
                <p>Comprehensive dictionary entries, and entries for synonyms / antonyms.</p>
            </div>
            <div class="module-enabled">
                <button class="button enabled">Enabled</button>
            </div>
        </a>
    </div>
}

</section>
