@model BlobPickerModel

<div class="popup-container">
    <div class="popup blob-popup">
        <h6 class="popup-title sub-header">Select a channel</h6>
        <p class="sub-p">For: @Model.OptionName</p>
        <div class="popup-content">
            <ul>
                @foreach (var item in Model.Items)
                {
                    DiscordChannelModel channel = (DiscordChannelModel) item;
                    <li><a asp-controller="CommandSettings"
                           asp-action="AddItemToBlobList"
                           asp-route-guildId="@Model.GuildId"
                           asp-route-commandId="@Model.CommandId"
                           asp-route-optionName="@Model.OptionName"
                           asp-route-item="@channel.Name"
                           asp-route-blobType="ChannelPicker">@channel.Name</a></li>
                }
            </ul>
        </div>
        <div class="popup-close">
            <a class="button" onclick="closeBlobPicker('ChannelPicker')">CLOSE</a>
        </div>

        <div style="clear:both"></div>
    </div>
</div>