@model PartialOptionModel

<div class="option toggle-option">
    <p class="sub-header option-name">@Model.Option.Name</p>
    <p class="sub-p">@Model.Option.Summary</p>

    @{
        var channels = await Helper.GetDiscordObjectsFromString<DiscordChannelModel> (ulong.Parse (Model.GuildId), (string) Model.Option.Value);
    }

    <div class="blob-list">
        <ul>
            @foreach (var channel in channels)
            {
                <li>
                    <a class="blob-remove"
                        asp-controller="CommandSettings"
                        asp-action="RemoveItemFromBlobList",
                        asp-route-guildId="@Model.GuildId"
                        asp-route-commandId="@Model.CommandId"
                        asp-route-optionName="@Model.Option.Name"
                        asp-route-item="@channel.Name"
                        asp-route-blobType="ChannelPicker">
                        <img src="img/x-icon.svg" />
                    </a>
                    <div class="blob-text">@channel.Name</div>
                </li>
            }
            @if (channels.Length == 0)
            {
                <li>...</li>
            }
        </ul>

        <div class="blob-add"
                onclick="displayBlobPicker('@Model.GuildId', '@Model.CommandId', '@Model.Option.Name', 'ChannelPicker')">
            +
        </div>
    </div>
</div>

<div style="clear:both"></div>