@model CommandOptionsModel

<section id="commandOptions">
    
    @await Html.PartialAsync("CurrentGuildBar", Model.BotMystGuild.Guild)

    <div class="commandDescription">
        <div class="commandEnabled">
            @{
                bool enabled = Model.CommandOptions.Enabled;
                string enabledText = enabled ? "Enabled" : "Disabled";
            }

            <a onclick="toggleCommand('@Model.BotMystGuild.Guild.Id', '@Model.CommandDescription.ID')" class="@enabledText.ToLower() button">@enabledText</a>
        </div>

        <h6 class="commandName">@Model.CommandDescription.Command</h6>
        <p class="commandSummary">@Model.CommandDescription.Summary</p>
    </div>

    <div style="clear: both;"></div>

<hr />

    @foreach (OptionDescription option in Model.Options)
    {
        @if (option.OptionType.ToString() == "RoleList")
        {
            <div class="option">
                <p class="name">@option.Name</p>
                <p class="summary">@option.Summary</p>

                <div class="blobList">
                    <ul>
                        <li style="border-color: rgb(231, 76, 60);">
                            <a href="#">
                                <img style="border-color: rgb(231, 76, 60);" class="blobRemove" src="~/img/remove.svg" />
                                <p class="blobText">Admin</p>
                            </a>
                        </li>

                        <li style="border-color: rgb(230, 126, 34);">
                            <a href="#">
                                <img style="border-color: rgb(230, 126, 34);" class="blobRemove" src="~/img/remove.svg" />
                                <p class="blobText">Moderator</p>
                            </a>
                        </li>

                        <li style="border-color: rgb(155, 89, 182);">
                            <a href="#">
                                <img style="border-color: rgb(155, 89, 182);" class="blobRemove" src="~/img/remove.svg" />
                                <p class="blobText">Guru</p>
                            </a>
                        </li>

                        <li style="border-color: rgb(0, 255, 255);">
                            <a href="#">
                                <img style="border-color: rgb(0, 255, 255);" class="blobRemove" src="~/img/remove.svg" />
                                <p class="blobText">Bot</p>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img class="blobRemove" src="~/img/remove.svg" />
                                <p class="blobText">@@everyone</p>
                            </a>
                        </li>

                        <div class="blobAdd">
                            <a onclick="openBlobPicker()" class="button">Add</a>
                        </div>
                    </ul>
                </div>
            </div>
        }
    }

</section>

<div id="blobPicker">
    <div class="content">
        <h6>Blob picker</h6>
        <p>Hello world!</p>

        <span class="close button">Close</span>
    </div>
</div>
