@model CommandOptionsModel

<section id="commandOptions">
    
    @await Html.PartialAsync("CurrentGuildBar", Model.BotMystGuild.Guild)

    <div class="commandDescription">
        <div class="commandEnabled">
            @{
                bool enabled = Model.CommandOptions.Enabled;
                string enabledText = enabled ? "Enabled" : "Disabled";
            }

            <a onclick="toggleCommand('@Model.BotMystGuild.Guild.Id', '@Model.CommandDescription.ID')" class="@enabledText.ToLower() button">@enabledText</a>
        </div>

        <h6 class="commandName">@Model.CommandDescription.Command</h6>
        <p class="commandSummary">@Model.CommandDescription.Summary</p>
    </div>

    <div style="clear: both;"></div>

<hr />

    @foreach (OptionDescription option in Model.Options)
    {
        @if (option.OptionType.ToString() == "RoleList")
        {
            IEnumerable<DiscordRole> roles = await ((string) option.Value).ToDiscordRolesAsync (Model.BotMystGuild.Guild.Id);

            <div class="option">
                <p class="name">@option.Name</p>
                <p class="summary">@option.Summary</p>

                <div class="blobList">
                    <ul>
                        @if (roles == null)
                        {
                            <li>
                                <a>
                                    <p class="blobText">...</p>
                                </a>
                            </li>
                        }
                        else
                        {
                            @foreach (DiscordRole role in roles)
                            {
                                <li style='border-color: #@role.Color.ToString("X");'>
                                    <a href="#">
                                        <img style='border-color: #@role.Color.ToString("X");' class="blobRemove" src="~/img/remove.svg" />
                                        <p class="blobText">@role.Name</p>
                                    </a>
                                </li>
                            }
                        }

                        <div class="blobAdd">
                            <a onclick="openRolePicker('@Model.BotMystGuild.Guild.Id', '@Model.CommandDescription.ID', '@option.Name')" class="button">Add</a>
                        </div>
                    </ul>
                </div>
            </div>
        }
    }

</section>

<div id="blobPicker">
    <div class="modal">
        <h6>Blob picker</h6>

        <div class="content">

        </div>

        <span class="close button">Close</span>
    </div>
</div>
