@model CommandList

<section id="commandList">
    @if (Model.BotMystGuild.HasBotMyst == false)
    {
        <!-- TODO: Add a proper invite link. -->
        <p>BotMyst isn't on the <strong>@Model.BotMystGuild.Guild.Name</strong> server. You can add it by visiting <a href="#">this link</a>.</p>
    }
    else
    {
        @await Html.PartialAsync("CurrentGuildBar", Model.BotMystGuild.Guild)

        <div class="commandSearch">
            <form asp-action="Index" method="GET">
                <input type="text" name="commandSearch" placeholder="Search commands..." value="@ViewData["CurrentFilter"]" />
                <input type="hidden" name="guildId" value="@Model.BotMystGuild.Guild.Id" />
            </form>
        </div>

        <h6>Commands:</h6>

        foreach (ModuleDescription moduleDescription in Model.ModuleDescriptions)
        {
            <p class="moduleName">@moduleDescription.Name</p>

            foreach (CommandDescription commandDescription in moduleDescription.CommandDescriptions)
            {
                <a asp-controller="CommandOptions" asp-action="Index" asp-route-guildId="@Model.BotMystGuild.Guild.Id" asp-route-commandId="@commandDescription.ID" class="command">
                    <p class="commandName">@commandDescription.Command <img src="~/img/checkmark.svg" /></p>
                    <p class="commandSummary">@commandDescription.Summary</p>
                </a>
            }
        }
    }
</section>
